.examplePage {
    overflow: hidden;
}

.fullWidth {
    width: 100%;
}

.title {
    font-size: 2em !important;
    font-weight: bold !important;
    width: 100%;
    @extend .mb_25;
    border-radius: .2em;
    padding: 0 .4em;
    transition: all .3s;
    background: rgba(0, 0, 0, .019);
    border: 1px solid transparent;
    &:hover, &:focus, &:active {
        background: rgba(0, 0, 0, .02);
        box-shadow: 0px 2px 1px rgba(104, 118, 142, 0.2);
        border-color: #E3E9F3; // #78caff
    }
}

.rstcustom__collapseButton:focus::after, .rstcustom__expandButton:focus::after {
    filter: none !important;
}

.tree {
    .ReactVirtualized__Grid {
        overflow-x: auto !important;
    }
}

.relative {
    position: relative;
}

.card {
    padding: 2em 2em 0 2em;
    height: calc(100vh - 6rem);
    border: none !important;
    background: white;
    overflow: auto;
    box-shadow: 15px 0px 40px -8px rgba(0,0,0,0.15);
}

.mb_25 {
    margin-bottom: 25px !important;
}

.mb_50 {
    margin-bottom: 50px !important;
}

.btnDelete {
    font-size: 2em;
    opacity: .2;
    background: #f13248;
    height: 2.5rem;
    max-width: 50px;
    margin-top: .9rem;
    line-height: 2.5rem;
    align-self: flex-end;
    color: white;
    border-radius: .2em;
    width: 100% !important;
    cursor: pointer;
    box-shadow: 15px 0px 40px -8px rgba(0, 0, 0, 0.377);
    transition: all .2s;
}

.btnDeleteGrp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.5em;
    height: 3.8rem;
    &:hover {
        .btnDelete {
            opacity: 1;
        }
    }
}

.prop {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: .2em;
    padding: 0 .4em;
    transition: all .3s;
    border: 1px solid transparent;
    &:hover, &:focus, &:active {
        background: rgba(0, 0, 0, .02);
        box-shadow: 0px 1px 1px rgba(104, 118, 142, 0.2);
        border-color: #E3E9F3; // #78caff
    }
}

* {
    outline: none !important;
}
